{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ $pages := where (where .Site.RegularPages "Type" "pages") ".Params.featured" true }}
<div class="hero-image hero-image-fullscreen hero-image-home" style="background-image: url('{{ .Params.heroBackground | relURL }}');">
  <div class="container">
    <div class="hero-text">
      <h1>{{ .Params.heroHeading }}</h1>
      {{ with .Params.heroSubHeading }}<p>{{ . }}</p>{{ end }}
      {{ if gt (len $pages) 0 }}
      <div class="hero-blurbs row">
        {{ range first 3 (sort $pages ".Params.weight") }}
        <div class="hero-blurb col-12 col-lg-4">
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <p>{{ .Description }}</p>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}
